svg#Calque_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='300px', height='57px', viewBox='0 0 300 57', enable-background='new 0 0 300 57', xml:space='preserve')
  polyline#check--bottom(fill='none', stroke='#C4996C', stroke-miterlimit='10', points='299.5,-0.1 299.5,56.9 0.5,56.9 ')
  polyline#check--top(fill='none', stroke='#C4996C', stroke-miterlimit='10', points='0.5,57.3 0.5,0.3 299.5,0.3 ')
