svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='800px', height='130px', viewBox='0 0 800 130', enable-background='new 0 0 800 130', xml:space='preserve')
  path.svg--h1-top(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M799,65V21.39C799,10.128,792.622,1,784.756,1   H17.242C9.377,1,3,10.128,3,21.39V65')
  path.svg--h1-bottom(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M3,65v43.61C3,119.871,9.378,129,17.244,129   h767.514c7.865,0,14.242-9.129,14.242-20.39V65')
