svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='45', height='45', viewBox='0 0 640 640')
  g#icomoon-ignore
  path(d='M469.606 231.281c5.466-5.406 14.299-5.406 19.745 0 5.445 5.385 5.445 14.137 0 19.543l-159.488 157.915c-5.466 5.406-14.279 5.406-19.745 0l-159.488-157.915c-5.445-5.406-5.466-14.137 0-19.543s14.32-5.406 19.745-0.020l149.626 144.019 149.606-144z')
