svg#play(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', width='10.078px', height='11.757px', viewBox='0 0 10.078 11.757', xml:space='preserve')
  path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M10.078,5.879L0,0v11.757L10.078,5.879')
